create-next-app-nodejs/
Code \- \OSS/
dconf/
discord/
Electron/
google-chrome-unstable/
htop/
kde.org/
keepassxc/
nextjs-nodejs/
Postman/
pulse/
Slack/
systemd/
xsettingsd/
Hyprland-xdg-terminals.list
mimeapps.list
pavucontrol.ini
QtProject.conf
xdg-terminals.list
GitKraken/
VirtualBox/
vlc/
filelightrc
autostart/
skypeforlinux/
tmux/plugins/
GNS3/
draw.io/
qBittorrent/
virt-viewer/
wireshark/
evolution/
filezilla/
nautilus/
